:root{
    --bright: #D8E9A8;
    --light: #4E9F3D;
    --medium: #1E5128;
    --dark: #191A19;

}

*   {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-color: var();
}

h1 {
    position: relative;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 50px;
    text-decoration: none;
    padding: 25px 200px 25px 100px;
    color: var(--light);
    background-color: var(--medium);

}
nav .navlinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 5px;
    position: relative;
    
}

li, a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: var(--light);
    background-color: var(--medium);
    text-decoration: none;
}

.navlinks, #contactlinks{
    list-style: none;
}

.navlinks li, #contactlinks li {
    display: inline-block;
    padding: 0px 20px;
}

.navlinks li a:hover, #contactlinks li a:hover {
    color: var(--bright);

}

body {
    background-color: var(--dark)

}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h2 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-align: center;
    color: var(--light);
    background-color: var(--medium);
    text-decoration: underline;

}
h3 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-align: center;
    color: var(--light);
}

p{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 100;
    text-align: center;
    border: 2px solid var(--bright);
    border-radius: 10px;
    padding: 25px;
}
div {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

section {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

}

img {
    display: flex;
    border-width: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    
}

#avatarpic {
    display: flex;
    border-width: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    padding: 50px;
    
}

/* CARDS FOR PROJECTS*/
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: flex;
    justify-content: space-between;
    clear: both;
  }
  
  /* Style the counter cards */

  .maincard{
        display: block;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        padding: 25px;
        text-align: center;
        background-color: var(--medium);

      }
      
.container {
        padding: 2px 1px;
      }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: var(--medium);

  }
  .maincard:hover,.card:hover{
      box-shadow:0 8px 16px 0 #D8E9A8;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

#contactlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 5px;
    position: relative;

}

  /* PHOTO CREDS*
  Avatar Photo by Iheb AB on Unsplash
  

/* Media queries */

@media screen and (max-width: 700px) {

    
}

